// @import "../css/breakpoints.scss";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
    a{
        text-decoration: none !important;
    }
    p,ul{
        margin: 0 !important;
    }

// Color theme
$theme-color-dark:#5d2468;
$theme-color-light:#6c2a78;
$white: #fff;
$black:#000;
// Color theme

// Padding
$p2: 2%;
$p3: 3%;
$p4: 4%;
$p5: 5%;
$p6: 6%;
$p7: 7%;
$p8: 8%;
$p9: 9%;
$p10: 10%;
// Padding


// Fon Weight
 $ExtraBold: 800;
 $Bold: 700;
 $SemiBold:600;
 $Medium:500;
// Fon Weight

//FontSize Bootstrap Standard
$h1 : 2.5rem;  //40px
$h2 : 2rem;  //32px
$h3 : 1.75rem;  //28px
$h4 : 1.5rem;  //24px
$h5 : 1.25rem;  //20px
$h6 : 1rem;  //16px
$p : 1rem;
//FontSize Bootstrap Standard

// Theme Standard FontSize

// Theme Standard FontSize



// Mixins
@mixin ComonFontsStyle {
    font-size: 1rem;
    color: $theme-color-dark
}
@mixin CommonPara {
    font-size: $p;
    color: $theme-color-dark;
    line-height: 25px;
}
@mixin HeadingCoomon{
    font-weight: $Bold;
    color: $theme-color-dark;
}
@mixin HeadingCoomonWhite{
    font-weight: $Bold;
    color: $white;
}
@mixin BeforeCoomon{
    content: '';
    position: absolute;
}
@mixin FullArea {
    width: 100%;
    height: 100%;
}
    // Flex Mixin Variable

// X AXIS // X AXIS // X AXIS
@mixin FlexXCenter {
    display: flex;
    justify-content: center;
}
@mixin FlexXEnd {
    display: flex;
    justify-content: end;
}
@mixin FlexXBetween {
    display: flex;
    justify-content: space-between;
}
// X AXIS // X AXIS // X AXIS

// Y AXIS // Y AXIS // Y AXIS
@mixin FlexYEnd {
    display: flex;
    align-items: flex-end;
}
@mixin FlexYCenter {
    display: flex;
    align-items: center;
}
// Y AXIS // Y AXIS // Y AXIS
@mixin FlexXYCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin FlexColumnEnd {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
@mixin FlexColumnYCenter {  //formula (Flex, Direction, Alignment)
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin FlexColumnXYCenter {  //formula (Flex, Direction, Alignment)
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 // Flex Mixin Variable
// Mixins

// Common Btn Css
@mixin theme-btn($w:0px , $h:0px , $clr:$theme-color-dark){
    .cooming-soon-btn{
        @include FlexXYCenter;
        width: $w;
        border: 1.95px solid $clr;
        color: $clr;
        font-weight: 500;
        margin-top: 13px;
        overflow: hidden;
        height: $h;
        transition: all 0.5s;
        span{
            @include FlexXYCenter;
            height: $h;
            img{
                margin-right: 7px;
            }
            i{
                margin-right: 7px;
            }
        }
        .btn-hover-down{
            position: relative;
            bottom: -20px;
            transition: all 0.5s;
            display: flex;
            flex-direction: column;
        }
        &:hover{
            background-color: $theme-color-dark;
            color: $white;
            .btn-hover-down{
                bottom: 20px; 
                span{
                    img{
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}
// Extends



// Left Side Menu Css
.main-menu{
    padding: 0 19px;
    a{  
        @include ComonFontsStyle;
        position: relative;
        transition: all 0.5s;
        &:hover{
            font-weight: 600;
            span{
                left: -15px;
                opacity: 1;
                transition: all 0.5s;
            }
        }
        span {
            width: 14px;
            height: 2.7px;
            background: $theme-color-dark;
            display: block;
            position: absolute;
            transform: translateX(-50%);
            top: 40%;
            left: 0px;
            opacity: 0;
            transition: all 0.5s;
        }
    }
    li {
        line-height: 20px;
        padding: 9px 0;
    }
}

.side-main-nav {
    padding: 10% 10% 0%;
    .covid-response {
        @include ComonFontsStyle;
        border: 1px solid $theme-color-dark;
        padding: 10px 33px;
        display: table;
        margin-top: 13px;
    }
    @include theme-btn(201px,40px,#5d2468);
}
.logo {
    padding-bottom: 31px;
    img {
        width: 50%;
    }
    /* Responsive Menu Bar Animation */
    .navbar-toggler {
        border: none;
        outline: none;
        padding: 0;
        #nav-icon3{
          width: 34px;
          height: 21px;
          position: relative;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
          cursor: pointer;
        }
        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 77%;
            background: #602567;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2),&:nth-child(3){
                top: 8px;
            }
            &:nth-child(4) {
                top: 17px;
            }
        }
        #nav-icon3.open{
            span{
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }
    /* Responsive Menu Bar Animation */
}

// Left Side Menu Css


// Right Main Slider
.main-slider{
    .owl-nav{
        position: relative;
        right: 20px;
        bottom: 16px;
        margin: 0 !important;
       button{
            position: absolute;
            bottom: 0;
            right: 0;
       }
       .owl-prev {
            right: 58px !important;
       }
    }
    
}
// Right Main Slider

// Previouse Comments
.previous-comments{
    position: relative;
    // Previcouse Left
    .previous-left {   
        @include FlexColumnXYCenter;
        background: #5d2468;
        padding: 27px 0 65px;
        .play-icon {
            position: absolute;
            bottom: 23px;
            right: 23px;
        }
        .convo-head-md{
            color: #5d2468;
            -webkit-text-fill-color: #5d2468;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: #fff;
            text-align: center;
            padding-bottom: 11px;
            font-size: 3.7rem;
            span{
                display: block;
                -webkit-text-fill-color: $white; /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: $white;
                text-align: right;
                font-size: 18px;
            }
        }
        .convo-head-lg {
            font-weight: $Bold;
            color: $theme-color-light;
            font-size: 100px !important;
            line-height: 85px;
            margin: 0;
        }
    }
    // Previcouse Left
    
    // Previcouse Conetent
    .previous-comments-content{
        padding: $p8 0 0 $p8;
        h3{
            @include HeadingCoomon;
            font-size: $h3;
        }
        p{
            @include CommonPara;
        }
        .year-abstracts{
            display: flex;
            padding-top: 20px;
            li{
                margin-right:23px;
                a{
                    @include ComonFontsStyle;
                    font-weight: 600;
                    border-bottom: 2px solid $theme-color-light;
                    line-height: 30px;
                    padding-bottom: 3px;
                }
            }
        }
    }
    // Previcouse Conetent
    
    // Socail Item
    .social-item{
        position: absolute;
        right: 0;
        transform: rotate(270deg) translate(-50%, 60px);
        top: 50%;
        ul{
            display: flex;
            li{
                list-style-type: none;
                margin-right: 15px;
                a{
                    @include ComonFontsStyle;
                    i{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    // Socail Item
}
// Previouse Comments

// Division Box
.division-box{
    padding: 123px 0;
    .divsion-content{
        h3{
            @include HeadingCoomon;
            font-size: $h3;

        }
        .pad-para{
            padding: 7px 0 13px;
        }
        p{
            @include CommonPara;
        }
    }
    .division-img{
        position: relative;
        &::before{
            background-image: url(../img/hu-icon.svg);
            background-size: 95%;
            background-repeat: no-repeat;
            height: 760px;
            width: 770px;
            top: -120px;
            right: 184px;
            @include BeforeCoomon;
        }
        img{
            width: 100%;
        }
    }
}
// Division Box



// Next Generation
.next-genration{
    padding: 25px 0;
    .sec-heading{
        text-align: center;
        padding-bottom: 50px;
        h1{
            @include HeadingCoomon;
            font-size: $h1;
        }
        h5{
           color: $theme-color-dark;
           font-size: $h5;
        }
    }
    .generation-box-parent{
        width: 45%;
        .generation-box {
            position: relative;
            cursor: pointer;
            margin-bottom: 93px;
            &::before{
                @include BeforeCoomon;
                @include FullArea;
                border: 2px solid $theme-color-dark;
                top: 23px;
                right: 23px;
                z-index: -1;
                transition: all 0.5s;
            }
            &:hover{
                &::before{
                    top: 0;
                    right: 0;  
                }
            }
            img {
                width: 100%;
            }
            .gene-content {
                @include FlexColumnEnd;
                position: absolute;
                top: 0;
                @include FullArea;
                padding: 0 32px 32px;
                p{
                    @include CommonPara;
                    color: $white;
                    padding-top: 10px;
                }
                h3{
                   color: $white;
                   font-weight: $Bold;
                   font-size: $h3;
                }
                h5{
                   color: $white;
                   font-size: $h5;
                }
            }
            
        }
    }
}
// Next Generation


// Graduate Box
.graduate-box{
    .division-img{
        &::before{
            display: none;
        }
    }
    .divsion-content {
        @include theme-btn(160px , 40px, #5d2468);
    }
}
// Graduate Box

// Remember Dates Area
.remember-dates-area{
    .remember-dates-are-in{
        position: relative;
        h1{
            @include HeadingCoomon;
            font-size: $h1;
            text-align: right;
            span{
                font-weight: 400;
                display: block;
            }
        }
        .graduation-ceremony{
            background-image: url(../img/remember-dates-bg-image.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding: $p5 $p9;
            h2{
                @include HeadingCoomonWhite;
                font-size: $h2;
            }
            h4{
                @include HeadingCoomonWhite;
                font-size: $h4;
            }
            .ceremony-list{
                width: 70%;
                padding-top: 10px;
                li{
                    @include FlexXBetween;
                    color: $white;
                    padding-bottom: 17px;
                    span{
                        width: 30%;
                    }
                }
            }
            // .see-details {
            //     border: 2px solid #fff;
            //     color: #fff;
            //     padding: 6px 22px;
            //     display: table;
            //     font-weight: 500;
            //     font-size: 1rem;
            // }
            @include theme-btn(127px , 40px , $white)
        }
        .cermony-img-parent{
            position: absolute;
            right: 35px;
            bottom: -85px;
            .cermony-img{
                &::before{
                    @include BeforeCoomon;
                    @include FullArea;
                    border: 2px solid #5d2468;
                    left: 23px;
                    z-index: -1;
                    bottom: 35px;
                }
            }

        }
    }
}
// Remember Dates Area


// Insta Feeds
section.insta-feed-area {
    padding: 130px 0 40px;
    overflow: hidden
}
// Insta Feeds


// Footer
footer{
    padding-bottom: 15px;
    .footer-inner{
        @include FlexColumnXYCenter;
        ul{
            display: flex;
            margin: 10px 0 10px !important;
            li{
                margin-right: 15px;
            }
        }
        .fol-para{
            font-weight: $Medium;
        }
        .copy-right{
            color: $theme-color-dark;
        }
    }
}

// Footer
