@import "../css/mixin.scss";
@import "../css/variables.scss";
// Screen Sizes
$breakpoints:(
    'xs': 320px,
    "sm": 480px,
    "lsm": 575px,
    "md": 768px,
    "lg": 993px,
    "xl": 1280px,
);
// Screen Sizes


// All Break Point Mixins
@mixin xs {
 @media (max-width: map-get($breakpoints, "xs")) {
     @content;
 }
}

@mixin sm {
    @media (max-width: map-get($breakpoints, "sm")) {
        @content;
    }
}

@mixin lsm {
    @media (max-width: map-get($breakpoints, "lsm")) {
        @content;
    }
}

@mixin md {
    @media (max-width: map-get($breakpoints, "md")) {
        @content;
    }
}

@mixin lg {
    @media (max-width: map-get($breakpoints, "lg")) {
        @content;
    }
}

@mixin xl {
    @media (max-width: map-get($breakpoints, "xl")) {
        @content;
    }
}
// All Break Point Mixins




// For Other Specific Screen Accept Above all 
@mixin breakpoint($bp:0) {
    @media (max-width: $bp) {
        @content;
    }
}
// For Other Specific Screen Accept Above all
@include breakpoint(1600px){
    // Left Side Menu Css
    .side-main-nav {
        padding: 5% 6% 0%;
        .logo {
            padding-bottom: 15px;
            img{
                width: 40%;
            }
        }
    }
    // Left Side Menu Css

    
}


@include breakpoint(1530px){
    // Left Side Menu Css
    .side-main-nav {
        padding: 4% 6% 0%;
        .logo {
            padding-bottom: 21px;
            img{
                width: 40%;
            }
        }
        .covid-response {
            font-size: 0.9rem;
            padding: 9px 22px;
            margin-top: 10px;
        }
        .menu-coll-inner{
            .main-menu{
                li{
                    padding: 8px 0;
                }
            }
        }
    }
    // Left Side Menu Css

    .previous-comments {
        .previous-left {
            .convo-head-md{
                font-size: 2.9rem;
            }
            .convo-head-lg{
                font-size: 80px !important;
                line-height: 75px;
            }
        }
    }
}

@include breakpoint(1366px){
    // Left Side Menu Css
    .side-main-nav {
        padding: 4% 4% 0%;
        .logo {
            padding-bottom: 6px;
            img {
                width: 40%;
            }
        }
        .covid-response {
            font-size: 0.9rem;
            padding: 8px 20px;
            margin-top: 6px;
        }
        .menu-coll-inner{
            .main-menu{
                li{
                    padding: 6px 0;
                }
            }
        }
    }
    // Left Side Menu Css


    .previous-comments {
        .previous-left {
            .convo-head-md{
                font-size: 2.5rem;
            }
            .convo-head-lg{
                font-size: 65px !important;
                line-height: 65px;
            }
        }
    }
}


@include breakpoint(1200px){
    .side-main-nav.navbar-expand-lg{
        padding: 2% 2% 2%;
        display: flex;
        align-items: center;
        .logo {
            padding-bottom: 0;
            img {
                width: 69%;
            }
        }
        div#navbarSupportedContent {
            align-items: center;
            .menu-coll-inner {
                display: flex;
                align-items: center;
                .main-menu {
                    padding: 0 19px;
                    display: flex;
                    justify-content: space-between;
                    li {
                        margin-right: 10px;
                        a {
                            font-size: 0.86rem;
                        }
                    }
                }
                .covid-response {
                    font-size: 1rem;
                    margin-top: 0;
                    padding: 7px 11px;
                }
            }
        }
    }

    .inner-banner{
        padding: 154px 0;
    }

    .graduation-para{
        .miles-count{
            &::after {
                width: 48px;
            }
        }
    } 

    .graduation-miles-banner{
        .banner-cont-grad {
            .banner-title {
                font-size: 64px !important;
                line-height: 64px !important;
            }

        }
    }

    .registaion-form-area.regalia{
            .rgist-box {
                margin-right: 21px;
            }
    } 
    
    .registaion-form-area.award-graduation{
        .brder-around{
            // width: 257px;
            left: 20px;
            // height: 317px;
        }
        .rgist-box{
           margin-right: 0;
            .madel-btch{
                width: 21%;
            }
       }
    }
}

@include breakpoint(1025px){
    .side-main-nav.navbar-expand-lg {
        padding: 2% 1% 2%;
        display: flex;
        align-items: center;
    }
    .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .covid-response {
        font-size: 0.8rem;
        margin-top: 0;
        padding: 7px 6px;
    }
    .covid-response img {
        width: 25px;
    }
   
}

@include lg{
    // Left Side Menu Css
    .side-main-nav {
        padding: 2% 5% 2%;
        display: block !important;
        .logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 0;
            width: 100%;
            img{
                width: 16% !important;
            }
        }
        
        .navbar-collapse{
            .menu-coll-inner{
                display: block !important;
                .main-menu{
                    display: block !important;
                    li{
                        padding: 6px 0;
                    }
                }
            }
        }
        .covid-response{
            padding: 9px 11px;
            margin-bottom: 13px;
        }
    }
    // Left Side Menu Css
    
    // Previouse Comments
    .previous-comments{
        .previous-left{
            padding: 10px 0 40px;
            .convo-head-md{
                font-size: 2.55rem;
                padding-bottom: 0px;
            }
            .convo-head-lsm.convo-head-lg{
                font-size: 70px !important;
                line-height: 70px;
            }
            .play-icon{
            }
        }
        .previous-comments-content{
        }
        .social-item{
        }
    }
    // Previouse Comments

    // Division Box 
    .division-box{
        padding: 53px 0;
        .division-img{
            &::before{
                background-size: 75%;
                top: -60px;
                right: -36px;
            }
        }
    }
    // Division Box

    .collapse#navbarSupportedContent:not(.show) {
        display: none !important;
    }
    .navbar-expand-lg .navbar-toggler {
        display: flex !important;
    }
}

@include md{
    // Left Side Menu Css
    .side-main-nav {
        padding: 2% 4% 2% !important;
        .logo{
            img{
                width: 17% !important;
            }
        }
    }
    // Left Side Menu Css

    // Previouse Comments
    .previous-comments{
        .previous-left{
            .convo-head-md{
                font-size: 2.5rem;
                padding-bottom: 0px;
            }
            .convo-head-lsm.convo-head-lg{
                font-size: 70px !important;
                line-height: 70px;
            }
            .play-icon{
                bottom: 62px;
            }
        }
        .previous-comments-content{
            padding: 5% 0 0 4%;
        }
        .social-item{
            position: initial;
            transform: rotate(0deg) translate(0, 0);
            padding: 20px 0 0 15px;
        }
    }
    // Previouse Comments


    // Division Box
    .division-box{
        .division-img{
            &::before{
                background-size: 65%;
                top: 60px;
                right: -36px;
                height: 500px;
                width: 580px;
            }
        }
            padding: 23px 0;
    }
    .division-box.graduate-box{
        .divsion-content{
            margin-top: 20px;
            p{
                br{
                    display: none;
                }
            }
            h3{
                font-size: 1.55rem;
            }
        }
    }
    // Division Box


    // Remember Dates Area
    .remember-dates-area{
        .remember-dates-are-in{
            h1{
                font-size: 2rem;
                text-align: center;
            }
        }
        .graduation-ceremony{
            padding: 5% 4% !important;
            h2{
                font-size: 1.5rem !important;
            }
            h4{
                font-size: 1.2rem !important;
            }
            .ceremony-list{
                width: 100% !important;
            }
        }
        .cermony-img-parent{
            position: initial !important;
        }
        .cermony-img-parent{
            .cermony-img{
                display: none;
                &::before{
                 display: none;
                }
            }
        }
    }
    // Remember Dates Area

    // Next Generation
    .next-genration{
        .sec-heading{
            padding-bottom: 20px;
            h1{
                font-size: 2rem;
            }
        }
        .coomon-responsove-slider{
            margin: 0;
        }
        .generation-box-parent{
            width: 100%;
            .generation-box{
                margin-bottom: 15px;
                &::before{
                    display: none;
                }
                .gene-content{
                    padding: 10px 18px 8px;
                    p{
                        padding-top: 0px;
                    }
                    h3{
                        margin: 0;
                    }
                }
            }
        }
    }
    // Next Generation    

    .inner-banner {
        padding: 94px 0;
        .iner-baner--content{
            h1{
                font-size: 55px;
                line-height: initial;
                span{
                    font-size: 36px;
                }
            }
        }
    }


    .sec-heading{
        p{
            font-size: 1.1rem;
            br{
                display: none;
            }
        }
    } 
    .full-menu {
        .overlay{
            ul{
                li{
                    a{
                        font-size: 2rem;
                    }
                }
            }
            .covi-btn{
                margin-right: 21px;
            }
        }
    }


    .graduation-miles-banner{
        .banner-cont-grad{
            justify-content: center;
            .banner-title {
                font-size: 47px !important;
                line-height: 53px !important;
            }
        } 
    }

    .graduation-miles-banner.conv-spea-banner{
        .banner-cont-grad{
            justify-content: flex-start;
            padding-bottom: 14px;
        } 
    }
    .graduation-para{
        h5 {
            font-size: 0.75rem;
        }
        .miles-count{
            &::after {
               display: none;
            }
        }
        .padb-set {
            padding-bottom: 45px;
            padding-top: 0;
        }
        strong{
            font-size: 13px;
        }
        .program-box{
            padding: 5px 10px;
        }
        h1 {
            font-size: 56px;
            line-height: 33px;
        }
    } 
   
    .padtb-set {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .registaion-form-area{
        .rgist-box.anthem-box {
            padding: 0 0;
            &::after {
                bottom: -1px;
                right: 0;
                background-size: 23%;
            }
        }
    }
    .announcement-area {
        .anoun-list-item {
            flex-direction: column; 
            .anoun-cont-iner {
                width: 100%;
                .anoun-item-content{
                    margin-left: 25px;
                }
            }
            .detail-btn {
                display: flex;
                .cooming-soon-btn{
                    width: 151px;
                    margin-right: 10px;
                }
            }
        }
    }

    .registaion-form-area.regalia{
        .rgist-box {
            margin-right: 0;
            &::before{
                display: none;
            }
            &::after{
                right: -10px;
            }
        }
    }  
    .owl-carousel{
        margin: 0 !important;
    }  
    .registaion-form-area.award-graduation{
        .rgist-box{
           .madel-btch {
                width: 16%;
                right: 5px;
            }
       }
    }

    .registaion-form-area.award-graduation{
        .brder-around {
            width: 86%;
            left: 20px;
            height: 92%;
            top: 0;
        }
        .rgist-box{
            // margin-right: 10px;
            .cropped-icon{
                width: auto;
            }     
        }
        .owl-stage{
             padding-bottom: 40px;
        }
    }  

}

@include lsm{
    // Slider
    .main-slider{
        .slider-item {
            .slider-img{
                display: none;
            }
            .res-slid{
                display: block;
            }
        }
    }
    // Slider


    // Left Side Menu Css
    .side-main-nav {
        padding: 2% 4% 2% !important;
        .logo{
            img{
                width: 23%;
            }
        }
    }
    // Left Side Menu Css
    
    // Previouse Comments
    .previous-comments{
        .previous-left{
            padding: 17px 14% 25px;
            margin: 0 10%;
            align-items: flex-start;
            .convo-head-lsm.convo-head-lg{
                font-size: 57px !important;
                line-height: 55px;
            }
            .convo-head-md {
                font-size: 2.2rem;
            }
            .play-icon{
                bottom: 33px;
                right: 105px;
                img{
                    width: 72%;
                }
            }
        }
        .social-item{
            display: none;
        }
    
    }
    // Previouse Comments
    .division-box{
        .division-img{
            display: flex;
            justify-content: center;
            &::before{
                display: none;
            }
            img{
                width: auto;
            }
        }
    }

    // Next Generation 
    .next-genration{
        .sec-heading{
            padding-bottom: 20px;
            h1{
                font-size: 2rem;
            }
        }
        .coomon-responsove-slider{
            margin: 0;
        }
        .generation-box-parent{
            width: 100%;
            .generation-box{
                margin-bottom: 0;
                &::before{
                    display: none;
                }
                .gene-content{
                    padding: 0 16px 16px;
                    p{
                        padding-top: 0;
                        line-height: 22px;
                    }
                    h3{
                        font-size: 1.25rem;
                        margin: 0;
                    }
                }
            }
        }
    }
    // Next Generation 

    // Division Box
    .division-box.graduate-box{
        .divsion-content{
            text-align: center;
            @include FlexDirAligJus($d-flex, $fl-di-co, $al-it-ce, $ju-co-ce);
            // margin-bottom: 32px;
        }
    }
    // Division Box

    .inner-banner {
        padding: 54px 0;
        .iner-baner--content{
            h1{
                font-size: 45px;
                span{
                    font-size: 27px;
                }
            }
        }
    }
    
    .sec-heading{
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
            br{
                display: none;
            }
        }
    } 

    .padt-set{
        padding-top: 52px;
        padding-bottom: 0;
    }
    .padb-set{
        padding-bottom: 52px;
        padding-top: 0;
    }
    .padtb-set{
        padding-top: 52px;
        padding-bottom: 52px;
    }
    .inner-pages-wraper{
        .division-box{
            .col-lg-6{
                justify-content: center;
            }
        } 
    }

    .fl-di-co-re{
        flex-direction: $fl-di-co-re;
    }
  
    
    .graduation-para{
        strong{
            font-size: 12px;
        }
        .program-box{
            padding: 5px 7px;
            height: 38px;
        }
    } 

    .graduation-miles-banner.registraion-banner .banner-cont-grad .banner-title {
        font-size: 33px;
        line-height: 53px;
        span{
            display: inline;
        }
    }
    .registaion-form-area.award-graduation{
        padding: 28px 0 70px;
        .brder-around {
           display: none;
        }
        .rgist-box{
            // margin-right: 10px;
            left: 0;
            h4{
                padding-right: 20%;
                br{
                    display: none;
                }
            }
            p{
                padding-right: 12%;
                br{
                    display: none;
                }
            }
            .cropped-icon{
                width: auto;
            }     
        }
    }  

    section.insta-feed-area {
        padding: 20px 0 40px;
    }
    header.full-menu:after {
        content: '';
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
        background: #fff;
        z-index: 9;
    }
    header.full-menu {
        position: relative;
    }
}



@include sm{
    
    html{
        font-size: 14px;
        p{
            font-size: 1.2rem !important;
        }
    }

    .main-slider{
        .slider-item{
            .play-icon-box {
               width: 69px;
               height: 69px;
               img {
                width: 55%;
              }
           }
        }
    }
    // Left Side Menu Css
    .side-main-nav {
        padding: 2% 4% 2% !important;
    }
    // Left Side Menu Css
  


    // Previouse Comments
    .previous-comments{
        .previous-left{
            padding: 17px 8% 25px;
            .convo-head-md{

            }
            .convo-head-lsm.convo-head-lg{
                font-size: 54px !important;
                line-height: 54px;
            }
            .play-icon {
                bottom: 11px;
                right: 43px;s
                img {
                    width: 71%;
                }
            }
        }
        .previous-comments-content{
            p {
                line-height: 23px;
            }
            .year-abstracts{
                li{
                    a{
                        font-size: 1.25rem;
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
            
        }
        .social-item{
        }
    }
    // Previouse Comments

    // Division Box
    .division-box{
        .division-img{
            img{
                width: 100% !important;
            }
        }
    }
    // Division Box


    .inner-banner {
        padding: 54px 0;
        .iner-baner--content{
            h1{
                font-size: 35px;
                span{
                    font-size: 23px;
                }
            }
        }
    }

    .full-menu {
        .overlay{
            ul{
                li{
                    a{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .graduation-para{
        .program-box{
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    } 
 

    .graduation-miles-banner.registraion-banner{
        .banner-cont-grad {
            .banner-title {
                font-size: 41px !important;
                line-height: 45px !important;
            }
        }
    }
   
    .para-area .sec-heading {
        padding: 30px 0 0;
    }
    .registaion-form-area {
        padding: 40px 0 0;
    }

    
    .announcement-area {
        .anoun-list-item {
            flex-direction: column; 
            .anoun-cont-iner {
                flex-direction: column;
                text-align: center;
                .anoun-item-content{
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
            .detail-btn {
                display: flex;
                flex-direction: column;
                .cooming-soon-btn{
                    width: 151px;
                    margin-right: 10px;
                }
            }
        }
    }

    .graduation-events{
        
    .row:nth-child(2), .row:nth-child(3){
        .event-gradu-boxes{
            .event-box{
                span{
                    width: 100%;
                }
            }
        }
    }
        .event-gradu-boxes{
            .event-box {
                flex-wrap: wrap;
                text-align: center;
                border: 1px solid $theme-color-dark;
                margin-bottom: 10px;
                span{
                    width: 100%;
                    padding: 10px 0;
                }
            }
        }
    }
}

@include xs{


   
    
    // Left Side Menu Css
    .side-main-nav {
        padding: 7% 7% 7%;
    }
    // Left Side Menu Css

    // Previouse Comments
    .previous-comments{
        .previous-left{
            padding: 4px 4% 18px;
            .convo-head-md{
                font-size: 2.1rem;
                padding-bottom: 0px;
            }
            .convo-head-lsm.convo-head-lg{
                font-size: 44px !important;
                line-height: 44px;
            }
            .play-icon{
                right: 22px;
            }                
        }
        .previous-comments-content{
        }
        .social-item{
        }
    }
    // Previouse Comments

    .graduation-miles-banner .banner-cont-grad .banner-title {
        font-size: 22px;
    }
    .full-menu {
        .button_container {
            top: 3%;
        }
        .overlay{
            .covi-btn {
                margin-top: 10px;
                margin-right: 11px;
            }
        }
    }


    .registaion-form-area.award-graduation{
        .rgist-box{
            // height: 322px;
            p{
                padding-right: 0%;
            }
            h4{
                padding-right: 12%;
            }
        }
    }  

    
}



