.banner-18 {
  background-image: url(../img/bg/banner-18.jpg);
}

.banner-19 {
  background-image: url(../img/bg/banner-19.jpg);
}

.banner-20 {
  background-image: url(../img/bg/banner-20.jpg);
}

.banner-21 {
  background-image: url(../img/bg/banner-21.jpg);
}

.banner-22 {
  background-image: url(../img/bg/banner-22.jpg);
}

.banner-23 {
  background-image: url(../img/bg/banner-23.jpg);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

p, ul {
  margin: 0 !important;
}

.sec-heading {
  text-align: center;
  padding-bottom: 50px;
}
.sec-heading h1 {
  font-weight: 700;
  color: #5d2468;
  font-size: 2.5rem;
}
.sec-heading h5 {
  color: #5d2468;
  font-size: 1.25rem;
}

.br-r {
  border-right: 1px solid #5d2468;
}

.br-t {
  border-top: 1px solid #5d2468;
}

.br-b {
  border-bottom: 1px solid #5d2468;
}

.br-l {
  border-left: 1px solid #5d2468;
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
}

.owl-theme .owl-dots .owl-dot span {
  background: #fff !important;
  border: 1px solid #5d2468;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #5d2468 !important;
}

.main-menu {
  padding: 0 19px;
}
.main-menu a {
  font-size: 1rem;
  color: #5d2468;
  position: relative;
  transition: all 0.5s;
}
.main-menu a:hover {
  font-weight: 600;
}
.main-menu a:hover span {
  width: 14px;
  transition: all 0.5s;
}
.main-menu a span {
  width: 0px;
  height: 2.7px;
  background: #5d2468;
  display: block;
  position: absolute;
  top: 40%;
  left: -17px;
  transition: all 0.5s;
}
.main-menu li {
  line-height: 20px;
  padding: 9px 0;
}

.side-main-nav {
  padding: 10% 10% 0%;
}
.side-main-nav .covid-response {
  font-size: 1rem;
  color: #5d2468;
  border: 1px solid #5d2468;
  padding: 10px 33px;
  display: table;
  margin-top: 13px;
}
.side-main-nav .cooming-soon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 201px;
  border: 1.95px solid #5d2468;
  color: #5d2468;
  font-weight: 500;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
}
.side-main-nav .cooming-soon-btn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: transparent;
}
.side-main-nav .cooming-soon-btn span img {
  margin-right: 7px;
}
.side-main-nav .cooming-soon-btn span i {
  margin-right: 7px;
}
.side-main-nav .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.side-main-nav .cooming-soon-btn:hover {
  background-color: #5d2468;
  color: #fff;
}
.side-main-nav .cooming-soon-btn:hover .btn-hover-down {
  bottom: 20px;
}
.side-main-nav .cooming-soon-btn:hover .btn-hover-down span img {
  filter: brightness(0) invert(1);
}

.logo {
  padding-bottom: 31px;
  /* Responsive Menu Bar Animation */
  /* Responsive Menu Bar Animation */
}
.logo img {
  width: 50%;
}
.logo .navbar-toggler {
  border: none;
  outline: none;
  padding: 0;
}
.logo .navbar-toggler #nav-icon3 {
  width: 34px;
  height: 21px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.logo .navbar-toggler span {
  display: block;
  position: absolute;
  height: 3px;
  width: 77%;
  background: #602567;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.logo .navbar-toggler span:nth-child(1) {
  top: 0px;
}
.logo .navbar-toggler span:nth-child(2), .logo .navbar-toggler span:nth-child(3) {
  top: 8px;
}
.logo .navbar-toggler span:nth-child(4) {
  top: 17px;
}
.logo .navbar-toggler #nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.logo .navbar-toggler #nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.logo .navbar-toggler #nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.logo .navbar-toggler #nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.main-slider .slider-item {
  position: relative;
}
.main-slider .slider-item .play-icon-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-slider .slider-item .play-icon-box img {
  width: auto;
}
.main-slider .slider-item .play-icon-box::before {
  content: "";
  background-image: url(../img/playicon.svg);
  position: absolute;
  top: 115%;
  width: 100%;
  left: 14%;
  height: 100%;
}
.main-slider .slider-item .play-icon-box:hover img {
  transform: translateY(-100%);
  transition: all 0.5s;
}
.main-slider .slider-item .play-icon-box:hover::before {
  transform: translateY(-100%);
  transition: all 0.5s;
}
.main-slider .slider-item .slider-imgg {
  display: block;
}
.main-slider .slider-item .res-slid {
  display: none;
}
.main-slider .owl-nav {
  position: relative;
  right: 20px;
  bottom: 16px;
  margin: 0 !important;
}
.main-slider .owl-nav button {
  position: absolute;
  bottom: 0;
  right: 0;
}
.main-slider .owl-nav .owl-prev {
  right: 58px !important;
}

.previous-comments {
  position: relative;
}
.previous-comments .previous-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #5d2468;
  padding: 27px 0 65px;
  overflow: hidden;
}
.previous-comments .previous-left .play-icon {
  position: absolute;
  bottom: 23px;
  right: 23px;
}
.previous-comments .previous-left .convo-head-md {
  color: #5d2468;
  -webkit-text-fill-color: #5d2468;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  text-align: center;
  padding-bottom: 11px;
  font-size: 3.7rem;
}
.previous-comments .previous-left .convo-head-md span {
  display: block;
  -webkit-text-fill-color: #fff;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  text-align: right;
  font-size: 18px;
}
.previous-comments .previous-left .convo-head-lg {
  font-weight: 700;
  color: #6c2a78;
  font-size: 100px !important;
  line-height: 85px;
  margin: 0;
}
.previous-comments .previous-left .convo-head-lg .sperator {
  display: flex;
}
.previous-comments .previous-comments-content {
  padding: 8% 0 0 8%;
}
.previous-comments .previous-comments-content h3 {
  font-weight: 700;
  color: #5d2468;
  font-size: 1.75rem;
}
.previous-comments .previous-comments-content p {
  font-size: 1rem;
  color: #5d2468;
  line-height: 25px;
}
.previous-comments .previous-comments-content .year-abstracts {
  display: flex;
  padding-top: 20px;
}
.previous-comments .previous-comments-content .year-abstracts li {
  margin-right: 23px;
}
.previous-comments .previous-comments-content .year-abstracts li a {
  font-size: 1rem;
  color: #5d2468;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 3px;
  transition: 0.5s;
  position: relative;
}
.previous-comments .previous-comments-content .year-abstracts li a:hover:after {
  width: 100%;
  transition: 0.5s;
}
.previous-comments .previous-comments-content .year-abstracts li a:after {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 0%;
  content: "";
  transform-origin: center;
  background-color: #5d2468;
  left: 0%;
  transition: 0.5s;
}
.previous-comments .social-item {
  position: absolute;
  right: 0;
  transform: rotate(270deg) translate(-50%, 60px);
  top: 50%;
}
.previous-comments .social-item ul {
  display: flex;
}
.previous-comments .social-item ul li {
  list-style-type: none;
  margin-right: 15px;
}
.previous-comments .social-item ul li a {
  font-size: 1rem;
  color: #5d2468;
}
.previous-comments .social-item ul li a i {
  font-size: 18px;
}

.division-box {
  padding: 123px 0;
}
.division-box .col-lg-6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.division-box .divsion-content h3 {
  font-weight: 700;
  color: #5d2468;
  font-size: 1.75rem;
}
.division-box .divsion-content .pad-para {
  padding: 7px 0 13px;
}
.division-box .divsion-content p {
  font-size: 1rem;
  color: #5d2468;
  line-height: 25px;
}
.division-box .division-img {
  position: relative;
}
.division-box .division-img::before {
  background-image: url(../img/hu-icon.svg);
  background-size: 95%;
  background-repeat: no-repeat;
  height: 760px;
  width: 770px;
  top: -120px;
  right: 184px;
  content: "";
  position: absolute;
}
.division-box .division-img img {
  width: 100%;
}

.next-genration {
  padding: 25px 0;
}
.next-genration .generation-box-parent {
  width: 45%;
}
.next-genration .generation-box-parent .generation-box {
  position: relative;
  cursor: pointer;
  margin-bottom: 93px;
}
.next-genration .generation-box-parent .generation-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #5d2468;
  top: 23px;
  right: 23px;
  z-index: -1;
  transition: all 0.5s;
}
.next-genration .generation-box-parent .generation-box:hover::before {
  top: 0;
  right: 0;
}
.next-genration .generation-box-parent .generation-box img {
  width: 100%;
}
.next-genration .generation-box-parent .generation-box .gene-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 32px 32px;
}
.next-genration .generation-box-parent .generation-box .gene-content p {
  font-size: 1rem;
  color: #5d2468;
  line-height: 25px;
  color: #fff;
}
.next-genration .generation-box-parent .generation-box .gene-content h3 {
  color: #fff;
  font-weight: 700;
  font-size: 1.75rem;
}
.next-genration .generation-box-parent .generation-box .gene-content h5 {
  color: #fff;
  font-size: 1.25rem;
  margin: 0;
}

.graduate-box .division-img::before {
  display: none;
}
.graduate-box .divsion-content .cooming-soon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 160px;
  border: 1.95px solid #5d2468;
  color: #5d2468;
  font-weight: 500;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
}
.graduate-box .divsion-content .cooming-soon-btn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: transparent;
}
.graduate-box .divsion-content .cooming-soon-btn span img {
  margin-right: 7px;
}
.graduate-box .divsion-content .cooming-soon-btn span i {
  margin-right: 7px;
}
.graduate-box .divsion-content .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.graduate-box .divsion-content .cooming-soon-btn:hover {
  background-color: #5d2468;
  color: #fff;
}
.graduate-box .divsion-content .cooming-soon-btn:hover .btn-hover-down {
  bottom: 20px;
}
.graduate-box .divsion-content .cooming-soon-btn:hover .btn-hover-down span img {
  filter: brightness(0) invert(1);
}

.remember-dates-area .remember-dates-are-in {
  position: relative;
}
.remember-dates-area .remember-dates-are-in h1 {
  font-weight: 700;
  color: #5d2468;
  font-size: 2.5rem;
  text-align: right;
}
.remember-dates-area .remember-dates-are-in h1 span {
  font-weight: 400;
  display: block;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony {
  background-image: url(../img/remember-dates-bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 9%;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony h2 {
  font-weight: 700;
  color: #5d2468;
  font-size: 2rem;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony h4 {
  font-weight: 700;
  color: #fff;
  font-size: 1.5rem;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .ceremony-list {
  width: 70%;
  padding-top: 10px;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .ceremony-list li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff;
  padding-bottom: 17px;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .ceremony-list li span {
  width: 30%;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 127px;
  border: 1.95px solid #fff;
  color: #fff;
  font-weight: 500;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: transparent;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn span img {
  margin-right: 7px;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn span i {
  margin-right: 7px;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn:hover {
  background-color: #5d2468;
  color: #fff;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn:hover .btn-hover-down {
  bottom: 20px;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn:hover .btn-hover-down span img {
  filter: brightness(0) invert(1);
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent {
  position: absolute;
  right: 35px;
  bottom: -85px;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent .cermony-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #5d2468;
  left: 23px;
  z-index: -1;
  bottom: 35px;
}

section.insta-feed-area {
  padding: 130px 0 40px;
  overflow: hidden;
}

footer {
  padding-bottom: 15px;
}
footer .footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-inner ul {
  display: flex;
  margin: 10px 0 10px !important;
}
footer .footer-inner ul li {
  margin-right: 15px;
}
footer .footer-inner .fol-para {
  font-weight: 500;
}
footer .footer-inner .copy-right {
  color: #5d2468;
}

.full-menu .button_container {
  position: fixed;
  top: 2%;
  left: 2%;
  height: 37px;
  width: 42px;
  cursor: pointer;
  z-index: 9999;
  transition: opacity 0.25s ease;
  display: flex;
  justify-content: space-between;
  border: 6px solid #5d2468;
  background: #5d2468;
  box-shadow: 0 0 6px 0px #ffffff80;
}
.full-menu .button_container:hover {
  opacity: 0.7;
}
.full-menu .button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.full-menu .button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.full-menu .button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.full-menu .button_container span {
  background: #fff;
  border: none;
  height: 3px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.full-menu .button_container span:nth-of-type(2) {
  top: 11px;
}
.full-menu .button_container span:nth-of-type(3) {
  top: 22px;
}
.full-menu .overlay {
  position: fixed;
  background: #5d2468;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 999;
}
.full-menu .overlay .covi-btn {
  margin-left: auto;
  margin-right: 42px;
  display: table;
  margin-top: 25px;
}
.full-menu .overlay .covi-btn .cooming-soon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 201px;
  border: 1.95px solid #fff;
  color: #fff;
  font-weight: 500;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
}
.full-menu .overlay .covi-btn .cooming-soon-btn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: transparent;
}
.full-menu .overlay .covi-btn .cooming-soon-btn span img {
  margin-right: 7px;
}
.full-menu .overlay .covi-btn .cooming-soon-btn span i {
  margin-right: 7px;
}
.full-menu .overlay .covi-btn .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.full-menu .overlay .covi-btn .cooming-soon-btn:hover {
  background-color: #5d2468;
  color: #fff;
}
.full-menu .overlay .covi-btn .cooming-soon-btn:hover .btn-hover-down {
  bottom: 20px;
}
.full-menu .overlay .covi-btn .cooming-soon-btn:hover .btn-hover-down span img {
  filter: brightness(0) invert(1);
}
.full-menu .overlay .covi-btn img {
  filter: brightness(0) invert(1);
}
.full-menu .overlay .covi-btn a {
  z-index: 999;
  position: relative;
}
.full-menu .overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.full-menu .overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
  display: flex;
  justify-content: center;
}
.full-menu .overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.full-menu .overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.full-menu .overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.full-menu .overlay.open li:nth-of-type(5) {
  animation-delay: 0.55s;
}
.full-menu .overlay.open li:nth-of-type(6) {
  animation-delay: 0.6s;
}
.full-menu .overlay.open li:nth-of-type(7) {
  animation-delay: 0.65s;
}
.full-menu .overlay::before {
  content: "";
  background-image: url(../img/icon-for-menu.svg);
  width: 100%;
  height: 100%;
  background-position: bottom right;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 23%;
  pointer-events: none;
}
.full-menu .overlay nav {
  position: relative;
  height: 100%;
  top: 36%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-menu .overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
.full-menu .overlay ul li {
  display: block;
  min-height: 50px;
  position: relative;
  opacity: 0;
  padding: 7px 0;
}
.full-menu .overlay ul li a {
  display: table;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  font-size: 2.7rem;
}
.full-menu .overlay ul li a span {
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transform-origin: 0% 0%;
  font-weight: 800;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
}
.full-menu .overlay ul li a span::before {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  content: attr(data-hover);
  transition: all 0.5s;
}
.full-menu .overlay ul li a:hover span {
  transform: translateY(-100%);
  transform-origin: 0% 0%;
  display: table;
  transition: all 0.5s;
  -webkit-text-fill-color: #fff;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #333333;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}

.inner-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 234px 0;
}
.inner-banner .iner-baner--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inner-banner .iner-baner--content h1 {
  font-weight: 700;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  text-align: center;
  font-size: 85px;
}
.inner-banner .iner-baner--content h1 span {
  font-weight: 700;
  color: #fff;
  display: block;
  font-size: 42px;
}

.inner-pages-wraper {
  padding-top: 50px;
}
.inner-pages-wraper .main-iner-video .video-banner .play-icon-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.inner-pages-wraper .main-iner-video .video-banner .play-icon-box img {
  width: auto;
}
.inner-pages-wraper .main-iner-video .video-banner .play-icon-box::before {
  content: "";
  background-image: url(../img/playicon.svg);
  position: absolute;
  top: 115%;
  width: 100%;
  left: 14%;
  height: 100%;
}
.inner-pages-wraper .main-iner-video .video-banner .play-icon-box:hover img {
  transform: translateY(-100%);
  transition: all 0.5s;
}
.inner-pages-wraper .main-iner-video .video-banner .play-icon-box:hover::before {
  transform: translateY(-100%);
  transition: all 0.5s;
}
.inner-pages-wraper .main-iner-video .video-banner img {
  width: 100%;
}

.padt-set {
  padding-top: 75px;
  padding-bottom: 0;
}

.padb-set {
  padding-bottom: 75px;
  padding-top: 0;
}

.padtb-set {
  padding-top: 75px;
  padding-bottom: 75px;
}

.inner-pages-wraper .division-box .divsion-content h5 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #5d2468;
}
.inner-pages-wraper .division-box .divsion-content h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #5d2468;
}
.inner-pages-wraper .division-box .division-img .play-icon-box {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.inner-pages-wraper .division-box .division-img .play-icon-box img {
  width: auto;
}
.inner-pages-wraper .division-box .division-img .play-icon-box::before {
  content: "";
  background-image: url(../img/playicon.svg);
  position: absolute;
  top: 115%;
  width: 100%;
  left: 14%;
  height: 100%;
}
.inner-pages-wraper .division-box .division-img .play-icon-box:hover img {
  transform: translateY(-100%);
  transition: all 0.5s;
}
.inner-pages-wraper .division-box .division-img .play-icon-box:hover::before {
  transform: translateY(-100%);
  transition: all 0.5s;
}

.para-area .sec-heading {
  padding: 50px 0 0;
}

.previous-comments.comment-21 .previous-left .convo-head-lg {
  font-size: 80px !important;
  line-height: 73px;
}

.graduation-miles-banner {
  padding-top: 83px;
}
.graduation-miles-banner .banner-cont-grad {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 100%;
}
.graduation-miles-banner .banner-cont-grad .banner-title {
  font-weight: 300;
  color: #5d2468;
  font-size: 71px;
  line-height: 75px;
}
.graduation-miles-banner .banner-cont-grad .banner-title span {
  font-weight: 700;
  display: block;
}
.graduation-miles-banner .set-banner-rght-img {
  position: relative;
}
.graduation-miles-banner .set-banner-rght-img .play-icon-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.graduation-miles-banner .set-banner-rght-img .play-icon-box img {
  width: auto;
}
.graduation-miles-banner .set-banner-rght-img .play-icon-box::before {
  content: "";
  background-image: url(../img/playicon.svg);
  position: absolute;
  top: 115%;
  width: 100%;
  left: 14%;
  height: 100%;
}
.graduation-miles-banner .set-banner-rght-img .play-icon-box:hover img {
  transform: translateY(-100%);
  transition: all 0.5s;
}
.graduation-miles-banner .set-banner-rght-img .play-icon-box:hover::before {
  transform: translateY(-100%);
  transition: all 0.5s;
}

.graduation-para h4 {
  font-weight: 600;
  color: #5d2468;
  font-size: 1.5rem;
}
.graduation-para h5 {
  font-weight: 600;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
}
.graduation-para p {
  font-size: 1rem;
  color: #5d2468;
  line-height: 25px;
}
.graduation-para strong {
  font-weight: 700;
  color: #5d2468;
}
.graduation-para .major {
  font-weight: 700;
  color: #5d2468;
  text-align: center;
  display: block;
}
.graduation-para h1 {
  font-weight: 700;
  color: #5d2468;
  font-size: 85px;
  line-height: 60px;
}
.graduation-para .miles-count {
  position: relative;
}
.graduation-para .miles-count::after {
  content: "";
  width: 75px;
  height: 3px;
  background: #5d2468;
  position: absolute;
  right: -13px;
  top: 50%;
  transform: translateY(-50%);
}
.graduation-para .miles-content {
  position: relative;
  top: 15px;
}
.graduation-para .prog-title {
  background-color: #5d2468;
}
.graduation-para .program-box {
  padding: 11px 10px;
  transition: all 0.5s;
}

.registaion-form-area {
  padding: 63px 0 0;
}
.registaion-form-area .rgist-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 0px #ccc;
  text-align: center;
  margin-bottom: 60px;
  height: 214px;
  padding: 0 40px;
  overflow: hidden;
  position: relative;
}
.registaion-form-area .rgist-box p {
  font-size: 18px;
  color: #5d2468;
  line-height: 25px;
}
.registaion-form-area .rgist-box .regis-view {
  border: 1px solid #5d2468;
  color: #5d2468;
  padding: 4px 30px;
  display: table;
  margin: 13px auto;
  font-size: 16px;
}
.registaion-form-area .rgist-box::after {
  position: absolute;
  content: "";
  bottom: -32px;
  right: -30px;
  width: 100%;
  height: 100%;
  background-image: url(../img/registraion/box-icon.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  pointer-events: none;
}
.registaion-form-area .rgist-box.anthem-box {
  height: auto;
  overflow: initial;
  box-shadow: 0 0 0px 0px transparent;
}
.registaion-form-area .rgist-box.anthem-box::after {
  bottom: -12px;
  right: 41px;
}

.inner-banner.awards-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.inner-banner.awards-banner h1 {
  font-weight: 300;
  line-height: 81px;
  justify-content: center;
  align-items: center;
}
.inner-banner.awards-banner h1 span {
  font-size: 85px;
}

.registaion-form-area.award-graduation {
  padding: 63px 0 70px;
}
.registaion-form-area.award-graduation .brder-around {
  border: 2px solid #5d2468;
  width: 85%;
  position: absolute;
  top: -2px;
  left: 13px;
  height: 92%;
}
.registaion-form-area.award-graduation .rgist-box {
  height: calc(100% + 10px);
  text-align: left;
  align-items: flex-start;
  padding: 62px 17px 51px;
  background: #fff;
  position: relative;
  top: 23px;
  left: 23px;
  margin-right: 25px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 0;
  justify-content: flex-start;
}
.registaion-form-area.award-graduation .rgist-box::after {
  display: none;
}
.registaion-form-area.award-graduation .rgist-box h4 {
  font-weight: 700;
  color: #5d2468;
  font-size: 1.5rem;
  line-height: 30px;
}
.registaion-form-area.award-graduation .rgist-box .madel-btch {
  position: absolute;
  top: 0;
  right: 13px;
}
.registaion-form-area.award-graduation .rgist-box .cropped-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}
.registaion-form-area.award-graduation .rgist-box p {
  font-size: 1rem;
}

.registaion-form-area.regalia {
  padding: 63px 0 60px;
}
.registaion-form-area.regalia .rgist-box {
  height: auto;
  padding: 0 0 30px;
  overflow: initial;
  background: #fff;
  margin-right: 40px;
}
.registaion-form-area.regalia .rgist-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #5d2468;
  top: -23px;
  right: 23px;
  z-index: -1;
  transition: all 0.5s;
  pointer-events: none;
}
.registaion-form-area.regalia .rgist-box::after {
  background-size: 27%;
}
.registaion-form-area.regalia h3 {
  font-weight: 700;
  color: #5d2468;
  font-size: 1.75rem;
  margin-top: 15px;
}

.announcement-area {
  padding: 60px 0;
}
.announcement-area .search-anouncement input {
  border-radius: 0;
  border-color: #5d2468;
}
.announcement-area .search-anouncement input::placeholder {
  font-size: 15px;
  color: #5d2468;
}
.announcement-area .search-anouncement .input-group-text {
  border-radius: 0;
  background-color: #5d2468;
  color: #fff;
  border-color: #5d2468;
}
.announcement-area .anoun-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #888;
  padding: 23px 0;
}
.announcement-area .anoun-list-item:first-child {
  border-top: 1px solid #888;
}
.announcement-area .anoun-list-item .anoun-cont-iner {
  display: flex;
  width: 64%;
  align-items: center;
}
.announcement-area .anoun-list-item .anoun-cont-iner .anoun-item-content {
  margin-left: 53px;
}
.announcement-area .anoun-list-item .anoun-cont-iner .anoun-item-content h3 {
  font-weight: 700;
  color: #5d2468;
}
.announcement-area .anoun-list-item .anoun-cont-iner .anoun-item-content p {
  font-size: 1rem;
  color: #5d2468;
  line-height: 25px;
}
.announcement-area .anoun-list-item .detail-btn .cooming-soon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 201px;
  border: 1.95px solid #5d2468;
  color: #5d2468;
  font-weight: 500;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
}
.announcement-area .anoun-list-item .detail-btn .cooming-soon-btn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: transparent;
}
.announcement-area .anoun-list-item .detail-btn .cooming-soon-btn span img {
  margin-right: 7px;
}
.announcement-area .anoun-list-item .detail-btn .cooming-soon-btn span i {
  margin-right: 7px;
}
.announcement-area .anoun-list-item .detail-btn .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.announcement-area .anoun-list-item .detail-btn .cooming-soon-btn:hover {
  background-color: #5d2468;
  color: #fff;
}
.announcement-area .anoun-list-item .detail-btn .cooming-soon-btn:hover .btn-hover-down {
  bottom: 20px;
}
.announcement-area .anoun-list-item .detail-btn .cooming-soon-btn:hover .btn-hover-down span img {
  filter: brightness(0) invert(1);
}

.shedule-heading {
  font-weight: 700;
  color: #5d2468;
  padding: 80px 0;
}

.graduation-events {
  padding: 25px 0 25px;
}
.graduation-events h2 {
  font-weight: 700;
  color: #5d2468;
  padding-bottom: 10px;
  margin: 0;
}
.graduation-events .row {
  padding: 25px 0;
}
.graduation-events .row:nth-child(1) {
  border-bottom: 1px solid #5d2468;
}
.graduation-events .event-gradu-boxes .event-box {
  display: flex;
  justify-content: space-between;
}
.graduation-events .event-gradu-boxes .event-box span {
  padding: 15px 0;
  font-size: 16px;
  font-weight: 600;
  color: #5d2468;
  width: 30%;
}
.graduation-events .row:nth-child(2) .event-gradu-boxes .event-box span, .graduation-events .row:nth-child(3) .event-gradu-boxes .event-box span {
  width: 45%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent !important;
}

/*# sourceMappingURL=style.css.map */
